.footerrow {
  width: 100%;
  border-collapse: collapse;
  background-color: black;
  font-size: 11px;
  color: white;
  padding:2px 10px;  
  height: 20px;
}
.footerrights {
  float:right;
  white-space:nowrap;
}
.footerlinks{
  float:left;
}

.footerlink a {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  text-decoration: none;
  font-size: 11px;
  height: 16px;
}
  .footerlink a:hover {
    text-decoration: underline;
  }